<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="home" content="width=device-width, initial-scale=1", http-equiv="refresh" content="30">  
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: #f0f0f0
}

img {
    display: block;
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
    max-width: 100%;
    height: auto;
}
</style>
</head>

<title>So-Rad Camera</title>
<meta name="home" content="width=device-width, initial-scale=1">

<body>
  Latest image:</br>
  Size:  {{ size }} kB</br>
  Date:  {{ mtime }}</br>

  <img src="{{ url_for('static', filename='latest-image.jpg') }}">

</body>
</html>
